import AppKit

final class AppDelegate: NSObject, NSApplicationDelegate {
    private var windowController: WebViewWindowController?

    func applicationDidFinishLaunching(_ notification: Notification) {
        let controller = WebViewWindowController()
        windowController = controller
        controller.showWindow(nil)
        NSApp.activate(ignoringOtherApps: true)
    }

    func applicationShouldTerminateAfterLastWindowClosed(_ sender: NSApplication) -> Bool {
        true
    }
}
